{% load staticfiles %}
{% load i18n %}<!doctype html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" />
    <script type="text/javascript" src="http://http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" ></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    {% block js %}

    {% endblock %}
    <title>{% block title %}Index template{% endblock %}</title>
</head>

<body>
<div class="container">
    <div class="row" >
        <div class="col-xs-12 col-sm-12 col-md-8 well well-sm">
            <legend><div align=center><img class="logo" src="http://www.rootedcon.es/files/rootedcon-logo.png" alt="RootedCON" /></div></legend>
    {% block content %}{% endblock %}
        </div>
    </div>
</div>
</body>
</html>
